@model Sharer.Models.Directories

@{
    ViewData["Title"] = "Home";
}

<div class="my-2">
    <h4>
        Files in
        @ViewBag.Title
    </h4>
    @{
        var totalFilesCounted = Model.Folders.Count + Model.Files.Count;
        <span>@totalFilesCounted files found</span>
    }
</div>

<div class="row">
    @foreach (var item in Model.Folders)
    {   
        string path = item.Path.Replace('\\', '-');

        <div class="col-md-2 mt-2" onclick="OpenFolder('@path')">
            <div class="folder">
                <span>
                    <i class="fa fa-folder" aria-hidden="true"></i>
                </span>
                <h5 class="text-break">@Html.DisplayFor(x => item.Title)</h5>
            </div>
        </div>
    }
</div>

<hr>
<div class="row">
    @foreach (var item in Model.Files)
    {
        <div class="col-md-4 mt-2">
            <div class="rounded bg-white p-3 border file">
                <div class="row">
                    <div class="col-2">
                        <div>
                            <span style="font-size: 2em;">
                                @if(item.Type == Types.Audio)
                                {
                                    <span class="text-primary">
                                        <i class="fa fa-music" aria-hidden="true"></i>
                                    </span>
                                }
                                else if(item.Type == Types.Document)
                                {
                                    if(item.DocType == DocTypes.txt)
                                    {
                                        <span class="text-muted">
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                        </span>
                                    }
                                    else if(item.DocType == DocTypes.pdf)
                                    {
                                        <span class="text-danger">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                        </span>
                                    }
                                    else if(item.DocType == DocTypes.docx)
                                    {
                                        <span class="text-primary">
                                            <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            <i class="fa fa-file-o" aria-hidden="true"></i>
                                        </span>
                                    }
                                }
                                else if(item.Type == Types.Compressed)
                                {
                                    <span class="text-info">
                                        <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                                    </span>
                                }
                                else if(item.Type == Types.Video)
                                {
                                    <span class="text-danger">
                                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                                    </span>
                                }
                                else if(item.Type == Types.Image)
                                {
                                    <span class="text-success">
                                        <i class="fa fa-photo" aria-hidden="true"></i>
                                    </span>
                                }
                                else if(item.Type == Types.Application)
                                {
                                    <span class="text-orange">
                                        <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                                    </span>
                                }
                                else if(item.Type == Types.Other)
                                {
                                    <i class="fa fa-file-o" aria-hidden="true"></i>
                                }
                            </span>
                        </div>
                    </div>
                    <div class="col-8">
                        <div>
                            <span class="d-block text-break">@Html.DisplayFor(f => item.Title)</span>
                            <small class="d-block text-muted">
                                @Html.DisplayFor(f => item.Extension) |
                                @Html.DisplayFor(f => item.Size) 
                            </small>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-right">
                            <div class="btn-group dropdown">
                                <button class="button-option" type="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdown">
                                    <h6 class="dropdown-header">@Html.DisplayFor(f => item.Title)</h6>
                                    <button class="dropdown-item" type="button" disabled>
                                        @Html.DisplayFor(f => item.Type) | 
                                        @Html.DisplayFor(f => item.Extension)
                                    </button>
                                    <button class="dropdown-item" type="button" disabled>
                                        @Html.DisplayFor(f => item.Minutes)
                                    </button>
                                    <button class="dropdown-item" type="button" disabled>
                                        @Html.DisplayFor(f => item.Size)
                                    </button>
                                    <button class="dropdown-item" type="button" disabled>
                                        @Html.DisplayFor(f => item.CreationTime)
                                    </button>
                                    <button class="dropdown-item" type="button" disabled>
                                        @Html.DisplayFor(f => item.LastAccessTime)
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    @if(item.IsReadOnly)
                                    {
                                        <button class="dropdown-item" type="button" disabled>
                                            Read Only
                                        </button>
                                    }
                                    else
                                    {
                                        <a asp-action="delete" asp-route-path="@item.Path" asp-route-returnUrl="/sharing/index" class="dropdown-item text-danger" type="button">
                                            <span>
                                                <i class="fa fa-trash"></i>
                                            </span>
                                            Delete
                                        </a>
                                    }
                                    <a href="@item.Path" download="@item.Title" class="dropdown-item text-primary" target="_blank" rel="noopener noreferrer">
                                        <span>
                                            <i class="fa fa-download"></i>
                                        </span>
                                        Download
                                    </a>
                                    @if(item.IsPlayable)
                                    {
                                        <a href="@item.Path" class="dropdown-item text-success" target="_blank" rel="noopener noreferrer">
                                            <span>
                                                <i class="fa fa-play"></i>
                                            </span>
                                            Play
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <small class="text-muted">
                        @Html.DisplayFor(f => item.LastAccessTime) |
                        @Html.DisplayFor(f => item.Type) 
                    </small>
                </div>
            </div>
        </div>
    }
</div>

@if(Model.Files.Count < 1 && Model.Folders.Count < 0)
{
    <div class="text-center w-100">
        <h1>Empty folder</h1>
        <img class="w-100" src="/images/empty.svg" alt="Empty">
    </div>
}
