@model Sharer.Models.FileInformation

@{
    ViewData["Title"] = $"{Model.Title} | {Model.Extension}";
}

<div class="row">
    <div class="col-md-9">
        <div class="mb-4">
            <div class="pb-3">
                <strong>@Model.Title</strong>
                <small class="text-muted">@Model.Extension</small>
            </div>

            @if(Model.Type == Types.Audio)
            {
                <audio src="@Model.Path" class="w-100 rounded" controls></audio>
            }
            else if(Model.Type == Types.Image)
            {
                <img src="@Model.Path" class="w-100 rounded" alt="@Model.Title@Model.Extension">
            }
            else if(Model.Type == Types.Video)
            {
                <video src="@Model.Path" class="w-100 rounded" controls></video>
            }
        </div>
    </div>
    <div class="col-md-3">
        <div class="mb-2">
            <strong class="d-block">Type</strong>
            <span class="text-muted">@Model.Type.ToString() | </span>
            <span class="text-muted">@Model.Extension</span>
        </div>

        <div>
            <strong class="d-block">Minutes</strong>
            <span class="text-muted">@Model.Minutes</span>
        </div>

        <div class="mb-2">
            <strong class="d-block">Size</strong>
            <span class="text-muted">@Model.Size</span>
        </div>

        <div class="mb-2">
            <strong class="d-block">Creation Time</strong>
            <span class="text-muted">@Model.CreationTime</span>
        </div>

        <div class="mb-2">
            <strong class="d-block">Last Time Time</strong>
            <span class="text-muted">@Model.LastAccessTime</span>
        </div>

        <div class="mb-2">
            <strong class="d-block">Is Read Only?</strong>
            @if(Model.IsReadOnly)
            {
                <span class="text-danger">Yes</span>
            }
            else
            {
                <span class="text-success">No</span>
            }
        </div>

        <div class="mb-2">
            <strong class="d-block">Path</strong>
            <a href="#source">
                <span class="text-muted text-break">@Model.Path</span>
            </a>
        </div>
        
        <hr>
        <div class="mt-1">
            <a href="@Model.Path" onclick="ShowToast('Downloading...')" download="@Model.Title@Model.Extension" class="btn btn-bg btn-primary w-100">
                <span data-feather="download"></span>
                <span>Download</span>
            </a>
        </div>
    </div>
</div>
